.mainh1
    h1 {
        display:table;
    }
    .mainSpan, .mainText {
        vertical-align:middle;
        display:table-cell;
        padding: 5px;
    }
.pageLogo {
    height: 1em;
    vertical-align:middle;
    display:table-cell;
    background-color: #f7fafc;
}

@media screen and (max-width: 800px) { // adjust the width for your needs
    div.brandListDiv {
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }
    div.brandListDiv > h2 {
        grid-column: -1/1;
    }
    div.projectListDiv {
        grid-template-columns: 1fr;
    }
    div.otherListDiv {
        grid-template-columns: 1fr;
    }
    p.BrandTitle {
        font-size: calc(50%);
        font-weight: 500;
    }
    p.BrandChildren {
        margin: 0;
    }
    .pageLogo {
        height: 0.85em;
    }
    .mainSpan, .mainText {
        font-size: 0.85em;
    }

    div#outerBox {
        width: 200%;
        height: auto;
        transform-origin: left bottom;
        transform: scale(0.5) translate(0, -100%);
        position: absolute;
    }
}

body		{ font-family: 'NanumSquare', sans-serif }
.normal		{ font-weight: 400 }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }