@media screen and (max-width: 800px) { // adjust the width for your needs
    div.brandListDiv {
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }
    div.projectListDiv {
        grid-template-columns: 1fr;
    }
    div.otherListDiv {
        grid-template-columns: 1fr;
    }
    p.BrandTitle {
        font-size: calc(40%);
    }
    p.BrandChildren {
        margin: 0;
    }
}