@media screen and (max-width: 720px) { // adjust the width for your needs
    div.brandListDiv {
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }
    p.BrandTitle {
        font-size: calc(40%);
    }
    p.BrandChildren {
        margin: 0;
    }
}